<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/mquery.css'/>
    <script src="/javascripts/jquery-3.3.1.min.js"></script>
    <script src="/javascripts/mquery.js"></script>
</head>
<body>
{{{body}}}
</body>
</html>
