<div class="mquery">
    <div class="toolbar"><h3>{{title}}查询</h3></div>
    <div class="scroll">
        <table id="_mquery" class="result embed-finder" style="width: 100%;" role="grid">
            <thead>
            <tr role="row">
                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    style="width: 15%;" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                    城市
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 15%;"
                    aria-label="Position: activate to sort column ascending">售货员
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20%;"
                    aria-label="Office: activate to sort column ascending">款式SKU
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 10%;"
                    aria-label="Office: activate to sort column ascending">季节
                </th>
                <th class="dt-body-right sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    style="width: 10%;" aria-label="Age: activate to sort column ascending">码数
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20%;"
                    aria-label="Start date: activate to sort column ascending">日期
                </th>
                <th class="dt-body-right sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    style="width: 15%; " aria-label="Salary: activate to sort column ascending">售价
                </th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th class="input">
                    <label>
                        <input type="text" value="">
                    </label>
                </th>
                <th class="input">
                    <label>
                        <input type="text" value="">
                    </label>
                </th>
                <th class="input">
                    <label>
                        <input type="text" value="">
                    </label>
                </th>
                <th class="input">
                    <label>
                        <input type="text" value="">
                    </label>
                </th>
                <th class="input">
                    <label>
                        <input type="text" value="">
                    </label>
                </th>
                <th class="input">
                    <label>
                        <input type="text" value="">
                    </label>
                </th>
                <th class="input">
                    <label>
                        <input type="text" value="">
                    </label>
                </th>
            </tr>
            <tr role="row" class="odd parent">
                <td tabindex="0" class="sorting_1" style="">广州</td>
                <td style="">Lisa</td>
                <td style="">SL-18B03</td>
                <td style="">春季</td>
                <td class=" dt-body-right" style="">33</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right" >￥162</td>
            </tr>
            <tr role="row" class="even parent">
                <td tabindex="0" class="sorting_1" style="">广州</td>
                <td style="">Zhu Li</td>
                <td style="">SL-16C01</td>
                <td style="">春夏季</td>
                <td class=" dt-body-right" style="">35</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right">￥1,200</td>
            </tr>
            <tr role="row" class="odd parent">
                <td tabindex="0" class="sorting_1" style="">广州</td>
                <td style="">KEV</td>
                <td style="">SL-18B03</td>
                <td style="">春夏季</td>
                <td class=" dt-body-right" style="">37</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right" >￥162</td>
            </tr>
            <tr role="row" class="even parent">
                <td tabindex="0" class="sorting_1" style="">深圳</td>
                <td style="">Ted</td>
                <td style="">SL-16C01</td>
                <td style="">春夏季</td>
                <td class=" dt-body-right" style="">36</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right">￥1,200</td>
            </tr>
            <tr role="row" class="odd parent">
                <td tabindex="0" class="sorting_1" style="">深圳</td>
                <td style="">Susan</td>
                <td style="">SL-18B03</td>
                <td style="">冬季</td>
                <td class=" dt-body-right" style="">39</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right" >￥162</td>
            </tr>
            <tr role="row" class="even parent">
                <td tabindex="0" class="sorting_1" style="">深圳</td>
                <td style="">Yeery</td>
                <td style="">SL-16C01</td>
                <td style="">春季</td>
                <td class=" dt-body-right" style="">36</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right">￥1,200</td>
            </tr>
            <tr role="row" class="odd parent">
                <td tabindex="0" class="sorting_1" style="">珠海</td>
                <td style="">Zee</td>
                <td style="">SL-18B03</td>
                <td style="">夏季</td>
                <td class=" dt-body-right" style="">37</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right" >￥162</td>
            </tr>
            <tr role="row" class="even parent">
                <td tabindex="0" class="sorting_1" style="">珠海</td>
                <td style="">Arm</td>
                <td style="">SL-16C01</td>
                <td style="">春季</td>
                <td class=" dt-body-right" style="">36</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right">￥1,200</td>
            </tr>
            <tr role="row" class="odd parent">
                <td tabindex="0" class="sorting_1" style="">佛山</td>
                <td style="">Prof</td>
                <td style="">SL-18B03</td>
                <td style="">春季</td>
                <td class=" dt-body-right" style="">38</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right" >￥162</td>
            </tr>
            <tr role="row" class="even parent">
                <td tabindex="0" class="sorting_1" style="">佛山</td>
                <td style="">Lisa</td>
                <td style="">SL-16C01</td>
                <td style="">春季</td>
                <td class=" dt-body-right" style="">35</td>
                <td style="">2017/11/28</td>
                <td class=" dt-body-right">￥1,200</td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th class="sorting_asc" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    style="width: 15%;" aria-sort="ascending" aria-label="Name: activate to sort column descending">
                    城市
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 15%;"
                    aria-label="Position: activate to sort column ascending">售货员
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20%;"
                    aria-label="Office: activate to sort column ascending">款式SKU
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 10%;"
                    aria-label="Office: activate to sort column ascending">季节
                </th>
                <th class="dt-body-right sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    style="width: 10%;" aria-label="Age: activate to sort column ascending">码数
                </th>
                <th class="sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1" style="width: 20%;"
                    aria-label="Start date: activate to sort column ascending">日期
                </th>
                <th class="dt-body-right sorting" tabindex="0" aria-controls="example" rowspan="1" colspan="1"
                    style="width: 15%; " aria-label="Salary: activate to sort column ascending">售价
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
    <div class="info" id="example_info" role="status" aria-live="polite">显示1-10 / 总共57条记录
    </div>
    <div class="paginate" id="example_paginate"><a
            class="paginate_button previous disabled" aria-controls="example" data-dt-idx="0" tabindex="0"
            id="example_previous">上一页</a><span><a class="paginate_button current" aria-controls="example"
                                                  data-dt-idx="1" tabindex="0">1</a><a class="paginate_button "
                                                                                       aria-controls="example"
                                                                                       data-dt-idx="2"
                                                                                       tabindex="0">2</a><a
            class="paginate_button " aria-controls="example" data-dt-idx="3" tabindex="0">3</a><a
            class="paginate_button " aria-controls="example" data-dt-idx="4" tabindex="0">4</a><a
            class="paginate_button " aria-controls="example" data-dt-idx="5" tabindex="0">5</a><a
            class="paginate_button " aria-controls="example" data-dt-idx="6" tabindex="0">6</a></span><a
            class="paginate_button next" aria-controls="example" data-dt-idx="7" tabindex="0"
            id="example_next">下一页</a></div>
</div>
<script>
    var mq = new MQuery('#_mquery', '{{id}}');
    $.when(mq.load(), mq.execute()).done();
</script>